.mt-50{
    margin-top: 8%;
  }
  .checkboxTxts{

    text-decoration: line-through;
  }
  .bg-grey{

    background-color: rgb(160, 160, 160);
  }
  .bg-light {
  background-color: #e6e7e9!important;
}
.font-bold{
font-weight: 500;
}
@media only screen and (max-width: 768px) {
/* For mobile phones: */
.form-control{

width:auto;
}

.m-0{
margin-left: 0px;
  margin-right: 0px;
}

}

.cancelstrikethrough{

text-decoration: unset;
}
.border-shadow{

-webkit-box-shadow: 0px -1px 15px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 15px 2px rgba(0,0,0,0.75);
box-shadow: 0px -1px 15px 2px rgba(0,0,0,0.75);
}

.item-shadow{

border-bottom: 1px solid rgba(0,0,0,.125);
}